# Data Extraction with Pandas

* Practioner: Cleiber Garcia
* Date: 01 of February, 2023
* Objective: Practice data extraction using Pandas

This notebook is based on the notebook written by Boris Pashkaver for the Course Data Analysis with Pandas and Python (Section 6: Data Extraction), offered by Udemy. Although the degree of similarity between both notebooks is almost 100%, I built this notebook step by step.

Link: https://www.udemy.com/course/data-analysis-with-pandas/

For more information feel free to contact me at cleiber.garcia@gmail.com

## Import Pandas

In [51]:
import pandas as pd

## Read the data source

In [52]:
# Load the DataFrame "jamesbond.csv" 
bond = pd.read_csv("jamesbond.csv")
bond.head(5)

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
3,Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
4,Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [53]:
bond.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Film               26 non-null     object
 1   Year               26 non-null     int64
 2   Actor              26 non-null     object
 3   Director           26 non-null     object
 4   Box Office         26 non-null     float64
 5   Budget             26 non-null     float64
 6   Bond Actor Salary  18 non-null     float64
dtypes: float64(3), int64(1), object(3)
memory usage: 1.5+ KB

## Indexing the DataFrame during the reading phase with index_col parameter

In [54]:
# Read the DataFrame "jamesbond.csv" and list its content indexing by column "Film"
bond = pd.read_csv("jamesbond.csv", index_col = "Film")
bond.head(5)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [82]:
bond.info()

<class 'pandas.core.frame.DataFrame'>
Index: 26 entries, Dr. No to Spectre
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               26 non-null     int64
 1   Actor              26 non-null     object
 2   Director           26 non-null     object
 3   Box Office         26 non-null     float64
 4   Budget             26 non-null     float64
 5   Bond Actor Salary  18 non-null     float64
dtypes: float64(3), int64(1), object(2)
memory usage: 1.4+ KB

##  Indexing the DataFrame with the set_index() and reset_index() methods

In [83]:
# Load the DataFrame "jamesbond.csv" 
bond = pd.read_csv("jamesbond.csv")
bond.head(5)

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
3,Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
4,Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [84]:
# Indexing the DataFrame with the set_index() method
bond_bkp = bond.copy()
bond.set_index("Film", inplace = True)
bond.head(5)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [85]:
# Reseting the indexing
bond.reset_index(inplace = True)

In [86]:
bond

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
3,Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
4,Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
5,You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
6,On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
7,Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
8,Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
9,The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
10,The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
11,Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
12,For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
13,Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
14,Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
15,A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
16,The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
17,Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
18,GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
19,Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
20,The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
21,Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
22,Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
23,Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
24,Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
25,Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

In [87]:
# Indexing the DataFrame by column "Year"
bond.set_index("Year", inplace = True)
bond.head(5)

,Film,Actor,Director,Box Office,Budget,Bond Actor Salary
Year,,,,,,
1962,Dr. No,Sean Connery,Terence Young,448.8,7.0,0.6
1963,From Russia with Love,Sean Connery,Terence Young,543.8,12.6,1.6
1964,Goldfinger,Sean Connery,Guy Hamilton,820.4,18.6,3.2
1965,Thunderball,Sean Connery,Terence Young,848.1,41.9,4.7
1967,Casino Royale,David Niven,Ken Hughes,315.0,85.0,NaN

In [88]:
bond.reset_index(inplace = True)

In [89]:
bond

,Year,Film,Actor,Director,Box Office,Budget,Bond Actor Salary
0,1962,Dr. No,Sean Connery,Terence Young,448.8,7.0,0.6
1,1963,From Russia with Love,Sean Connery,Terence Young,543.8,12.6,1.6
2,1964,Goldfinger,Sean Connery,Guy Hamilton,820.4,18.6,3.2
3,1965,Thunderball,Sean Connery,Terence Young,848.1,41.9,4.7
4,1967,Casino Royale,David Niven,Ken Hughes,315.0,85.0,NaN
5,1967,You Only Live Twice,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
6,1969,On Her Majesty's Secret Service,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
7,1971,Diamonds Are Forever,Sean Connery,Guy Hamilton,442.5,34.7,5.8
8,1973,Live and Let Die,Roger Moore,Guy Hamilton,460.3,30.8,NaN
9,1974,The Man with the Golden Gun,Roger Moore,Guy Hamilton,334.0,27.7,NaN
10,1977,The Spy Who Loved Me,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
11,1979,Moonraker,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
12,1981,For Your Eyes Only,Roger Moore,John Glen,449.4,60.2,NaN
13,1983,Never Say Never Again,Sean Connery,Irvin Kershner,380.0,86.0,NaN
14,1983,Octopussy,Roger Moore,John Glen,373.8,53.9,7.8
15,1985,A View to a Kill,Roger Moore,John Glen,275.2,54.5,9.1
16,1987,The Living Daylights,Timothy Dalton,John Glen,313.5,68.8,5.2
17,1989,Licence to Kill,Timothy Dalton,John Glen,250.9,56.7,7.9
18,1995,GoldenEye,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
19,1997,Tomorrow Never Dies,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
20,1999,The World Is Not Enough,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
21,2002,Die Another Day,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
22,2006,Casino Royale,Daniel Craig,Martin Campbell,581.5,145.3,3.3
23,2008,Quantum of Solace,Daniel Craig,Marc Forster,514.2,181.4,8.1
24,2012,Skyfall,Daniel Craig,Sam Mendes,943.5,170.2,14.5
25,2015,Spectre,Daniel Craig,Sam Mendes,726.7,206.3,NaN

## Retrieving Rows by Index Label with .loc[]

In [91]:
# Load the DataFrame "jamesbond.csv" indexing by column "Film"
bond = pd.read_csv("jamesbond.csv", index_col = "Film")
bond.head(5)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [93]:
# Retrieve the row with "Goldfinger" as film
bond.loc["Goldfinger"]

Year                         1964
Actor                Sean Connery
Director             Guy Hamilton
Box Office                  820.4
Budget                       18.6
Bond Actor Salary             3.2
Name: Goldfinger, dtype: object

In [94]:
# Retrieve the row with "Casino Royale" as film
bond.loc["Casino Royale"]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3

In [96]:
# Extracting a range of rows
bond.loc["From Russia with Love":"Diamonds Are Forever"]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8

In [97]:
bond

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

In [98]:
# Extracting rows starting with some value
bond.loc["GoldenEye":]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

In [100]:
# Extrating rows with some value and with hops of 2
bond.loc["GoldenEye"::2]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5

In [101]:
# Extracting a list of values
bond.loc[["Octopussy", "Die Another Day"]]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9

## Retrieving Rows by Index Position With iloc Accessor

In [114]:
# Load the DataFrame "jamesbond.csv" 
bond = pd.read_csv("jamesbond.csv")
bond.head(5)

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
3,Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
4,Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [115]:
# Retrieving the row with index 0 (zero)
bond.iloc[0]

Film                        Dr. No
Year                          1962
Actor                 Sean Connery
Director             Terence Young
Box Office                   448.8
Budget                         7.0
Bond Actor Salary              0.6
Name: 0, dtype: object

In [116]:
# Retrieving the row in the 16th position
bond.iloc[15]

Film                 A View to a Kill
Year                             1985
Actor                     Roger Moore
Director                    John Glen
Box Office                      275.2
Budget                           54.5
Bond Actor Salary                 9.1
Name: 15, dtype: object

In [117]:
# Retrieving multiple rows
bond.iloc[[9, 12, 18]]

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
9,The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
12,For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
18,GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1

In [118]:
# Retrieving a range of rows
bond.iloc[9:17]

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
9,The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
10,The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
11,Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
12,For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
13,Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
14,Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
15,A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
16,The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2

In [119]:
# Retrieving a range of rows
bond.iloc[13:]

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
13,Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
14,Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
15,A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
16,The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
17,Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
18,GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
19,Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
20,The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
21,Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
22,Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
23,Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
24,Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
25,Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

In [120]:
# Retrieving a range of rows
bond.iloc[:12]

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
3,Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
4,Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
5,You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
6,On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
7,Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
8,Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
9,The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
10,The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
11,Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN

In [121]:
bond

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
3,Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
4,Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
5,You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
6,On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
7,Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
8,Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
9,The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
10,The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
11,Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
12,For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
13,Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
14,Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
15,A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
16,The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
17,Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
18,GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
19,Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
20,The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
21,Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
22,Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
23,Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
24,Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
25,Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

In [122]:
# Set column "Film" as index
# Sort the DataFrame in alphabetical order
bond.set_index("Film", inplace = True)

In [123]:
bond.sort_index(inplace = True)

In [124]:
bond.head(5)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9

In [125]:
bond.iloc[0]

Year                        1985
Actor                Roger Moore
Director               John Glen
Box Office                 275.2
Budget                      54.5
Bond Actor Salary            9.1
Name: A View to a Kill, dtype: object

In [126]:
bond.iloc[0:4]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8

## Second Argument to loc[ ] and iloc[ ]
#### DataFrame.loc[row, cell]
#### DataFrame.iloc[row, cell]

In [130]:
# Load the DataFrame "jamesbond.csv" indexing by "Film"
bond = pd.read_csv("jamesbond.csv", index_col = "Film")
bond.sort_index(inplace = True)
bond.head(5)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9

In [131]:
# Retrieve a row with an especified label
bond.loc["Moonraker"]

Year                          1979
Actor                  Roger Moore
Director             Lewis Gilbert
Box Office                   535.0
Budget                        91.5
Bond Actor Salary              NaN
Name: Moonraker, dtype: object

In [133]:
# Retrive a cell value for a row with an especified label
bond.loc["Moonraker", "Actor"]

'Roger Moore'

In [142]:
# Retrive multiple cell values for a row with an especified label
bond.loc["Moonraker", ["Actor", "Director"]]

Actor         Roger Moore
Director    Lewis Gilbert
Name: Moonraker, dtype: object

In [143]:
# Show multiple cell values for a row with an especified label
bond.loc["Casino Royale", "Year":"Director"]

               Year         Actor         Director
Film
Casino Royale  2006  Daniel Craig  Martin Campbell
Casino Royale  1967   David Niven       Ken Hughes

In [137]:
# Retrive multiple cell values for multiple rows with especified labels
bond.loc[["Casino Royale", "A View to a Kill"], ["Year", "Actor", "Director", "Budget"]]

                  Year         Actor         Director  Budget
Film
Casino Royale     2006  Daniel Craig  Martin Campbell   145.3
Casino Royale     1967   David Niven       Ken Hughes    85.0
A View to a Kill  1985   Roger Moore        John Glen    54.5

In [148]:
# Retrive multiple cell values for multiple rows with especified labels
bond.loc["A View to Kill":"Casino Royale", "Year":"Director"]

                  Year         Actor         Director
Film
A View to a Kill  1985   Roger Moore        John Glen
Casino Royale     2006  Daniel Craig  Martin Campbell
Casino Royale     1967   David Niven       Ken Hughes

In [149]:
# Retrieve a range of cells in a range of rows
bond.loc[:"Moonraker", "Director":]

                              Director  Box Office  Budget  Bond Actor Salary
Film
A View to a Kill             John Glen       275.2    54.5                9.1
Casino Royale          Martin Campbell       581.5   145.3                3.3
Casino Royale               Ken Hughes       315.0    85.0                NaN
Diamonds Are Forever      Guy Hamilton       442.5    34.7                5.8
Die Another Day           Lee Tamahori       465.4   154.2               17.9
Dr. No                   Terence Young       448.8     7.0                0.6
For Your Eyes Only           John Glen       449.4    60.2                NaN
From Russia with Love    Terence Young       543.8    12.6                1.6
GoldenEye              Martin Campbell       518.5    76.9                5.1
Goldfinger                Guy Hamilton       820.4    18.6                3.2
Licence to Kill              John Glen       250.9    56.7                7.9
Live and Let Die          Guy Hamilton       460.3    30.8                NaN
Moonraker                Lewis Gilbert       535.0    91.5                NaN

In [151]:
# Retrieve the first 8 rows with cell values for columns 2, 3 and 4
bond.iloc[:8, 2:5]

                              Director  Box Office  Budget
Film
A View to a Kill             John Glen       275.2    54.5
Casino Royale          Martin Campbell       581.5   145.3
Casino Royale               Ken Hughes       315.0    85.0
Diamonds Are Forever      Guy Hamilton       442.5    34.7
Die Another Day           Lee Tamahori       465.4   154.2
Dr. No                   Terence Young       448.8     7.0
For Your Eyes Only           John Glen       449.4    60.2
From Russia with Love    Terence Young       543.8    12.6

## Set New Value for a Specific Cell

In [153]:
# Load the DataFrame "jamesbond.csv" indexing by "Film"
bond = pd.read_csv("jamesbond.csv", index_col = "Film")
bond.sort_index(inplace = True)
bond.head(5)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9

In [154]:
# Retrieve row with cell Film equal "Diamonds Are Forever"
bond.loc["Diamonds Are Forever"]

Year                         1971
Actor                Sean Connery
Director             Guy Hamilton
Box Office                  442.5
Budget                       34.7
Bond Actor Salary             5.8
Name: Diamonds Are Forever, dtype: object

In [155]:
# List the actor's name for the Film "Diamonds Are Forever"
bond.loc["Diamonds Are Forever", "Actor"]

'Sean Connery'

In [156]:
# Change the Cell "Actor" for the Film "Diamonds Are Forever"
bond.loc["Diamonds Are Forever", "Actor"] = "Sir Sean Connery"

In [158]:
# Retrieve row with cell Film equal "Diamonds Are Forever"
bond.loc["Diamonds Are Forever"]

Year                             1971
Actor                Sir Sean Connery
Director                 Guy Hamilton
Box Office                      442.5
Budget                           34.7
Bond Actor Salary                 5.8
Name: Diamonds Are Forever, dtype: object

In [159]:
# List multiple cells for a specific row
bond.loc["Dr. No", ["Box Office", "Budget", "Bond Actor Salary"]]

Box Office           448.8
Budget                 7.0
Bond Actor Salary      0.6
Name: Dr. No, dtype: object

In [160]:
# Modify multiple cell values for a specific row
bond.loc["Dr. No", ["Box Office", "Budget", "Bond Actor Salary"]] = [457000000, 8500000, 700000]

In [162]:
# List multiple cells for a specific row
bond.loc["Dr. No", ["Box Office", "Budget", "Bond Actor Salary"]]

Box Office           457000000.0
Budget                 8500000.0
Bond Actor Salary       700000.0
Name: Dr. No, dtype: object

## Set Multiple Values in DataFrame

In [163]:
# Load the DataFrame "jamesbond.csv" indexing by "Film"
bond = pd.read_csv("jamesbond.csv", index_col = "Film")
bond.sort_index(inplace = True)
bond.head(5)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9

In [171]:
# Build a series with True for Actor == "Sean Connery" and False otherwise
actor_is_sean_connery = bond["Actor"] == "Sean Connery"

In [179]:
# List those films for with "Sean Connery" acted as James Bond
bond.loc[actor_is_sean_connery]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Diamonds Are Forever,1971,Sir Sean Connery,Guy Hamilton,442.5,34.7,5.8
Dr. No,1962,Sir Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sir Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sir Sean Connery,Guy Hamilton,820.4,18.6,3.2
Never Say Never Again,1983,Sir Sean Connery,Irvin Kershner,380.0,86.0,NaN
Thunderball,1965,Sir Sean Connery,Terence Young,848.1,41.9,4.7
You Only Live Twice,1967,Sir Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [180]:
# Change the actor's name from "Sean Connery" to "Sir Sean Connery"
bond.loc[actor_is_sean_connery, "Actor"] = "Sir Sean Connery"

In [184]:
# List those films for with "Sean Connery" acted as James Bond
bond.loc[actor_is_sean_connery, "Actor"]

Film
Diamonds Are Forever     Sir Sean Connery
Dr. No                   Sir Sean Connery
From Russia with Love    Sir Sean Connery
Goldfinger               Sir Sean Connery
Never Say Never Again    Sir Sean Connery
Thunderball              Sir Sean Connery
You Only Live Twice      Sir Sean Connery
Name: Actor, dtype: object

In [185]:
# List those films for with "Sean Connery" acted as James Bond
bond.loc[actor_is_sean_connery]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Diamonds Are Forever,1971,Sir Sean Connery,Guy Hamilton,442.5,34.7,5.8
Dr. No,1962,Sir Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sir Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sir Sean Connery,Guy Hamilton,820.4,18.6,3.2
Never Say Never Again,1983,Sir Sean Connery,Irvin Kershner,380.0,86.0,NaN
Thunderball,1965,Sir Sean Connery,Terence Young,848.1,41.9,4.7
You Only Live Twice,1967,Sir Sean Connery,Lewis Gilbert,514.2,59.9,4.4

## Renaming Index Labels or Columns Labels in a DataFrame

In [188]:
# Load the DataFrame "jamesbond.csv" indexing by "Film"
bond = pd.read_csv("jamesbond.csv", index_col = "Film")
bond.sort_index(inplace = True)
bond.head(5)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9

In [194]:
# Renaming some index labels
bond.rename(mapper = {"GoldenEye" : "Golden Eye",
                      "The World Is Not Enough" : "The Best JB Film Ever"},
            axis = "index") # axis = 0 or axis = "rows"

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Golden Eye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
The Best JB Film Ever,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [202]:
# Same result as above but with less parameters
bond.rename(index = {"GoldenEye" : "Golden Eye",
                      "The World Is Not Enough" : "The Best JB Film Ever"}, inplace = True)

In [203]:
bond

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Golden Eye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
The Best JB Film Ever,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [201]:
bond

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Golden Eye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
The Best JB Film Ever,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [207]:
# Renaming some column labels
bond.rename(mapper = {"Year" : "Release Date", "Box Office": "Revenue"}, axis = "columns") # could be axis = 1

,Release Date,Actor,Director,Revenue,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Golden Eye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
The Best JB Film Ever,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [208]:
# Renaming some column labels
bond.rename(columns = {"Year" : "Release Date", "Box Office": "Revenue"}, inplace = True)

In [209]:
bond

,Release Date,Actor,Director,Revenue,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Golden Eye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
The Best JB Film Ever,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [210]:
bond.head(1)

,Release Date,Actor,Director,Revenue,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1

In [211]:
bond.columns

Index(['Release Date', 'Actor', 'Director', 'Revenue', 'Budget',
       'Bond Actor Salary'],
      dtype='object')

In [213]:
# Change some column labels (another sintax)
bond.columns = ["Year of Release", "Actor", "Director", "Gross", "Cost", "Salary"]

In [214]:
bond.head(1)

                  Year of Release        Actor   Director  Gross  Cost  Salary
Film
A View to a Kill             1985  Roger Moore  John Glen  275.2  54.5     9.1

## How to Delete Rows or Columns from a DataFrame

In [223]:
# Load the DataFrame "jamesbond.csv" indexing by "Film"
bond = pd.read_csv("jamesbond.csv", index_col = "Film")
bond.sort_index(inplace = True)
bond.head(5)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9

In [224]:
bond.drop(["A View to a Kill", "Casino Royale"])

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [225]:
bond.head(1)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1

In [226]:
# Delete the "Box Office" label
bond.drop("Box Office", axis = 1) # or axis = "columns"

,Year,Actor,Director,Budget,Bond Actor Salary
Film,,,,,
A View to a Kill,1985,Roger Moore,John Glen,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,154.2,17.9
Dr. No,1962,Sean Connery,Terence Young,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,60.2,NaN
From Russia with Love,1963,Sean Connery,Terence Young,12.6,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,76.9,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,91.5,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,37.3,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,206.3,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,45.1,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,158.3,13.5
Thunderball,1965,Sean Connery,Terence Young,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,133.9,10.0
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,59.9,4.4

In [227]:
# Deleting multiple column labels
bond.drop(["Director", "Year"], axis = "columns")

,Actor,Box Office,Budget,Bond Actor Salary
Film,,,,
A View to a Kill,Roger Moore,275.2,54.5,9.1
Casino Royale,Daniel Craig,581.5,145.3,3.3
Casino Royale,David Niven,315.0,85.0,NaN
Diamonds Are Forever,Sean Connery,442.5,34.7,5.8
Die Another Day,Pierce Brosnan,465.4,154.2,17.9
Dr. No,Sean Connery,448.8,7.0,0.6
For Your Eyes Only,Roger Moore,449.4,60.2,NaN
From Russia with Love,Sean Connery,543.8,12.6,1.6
GoldenEye,Pierce Brosnan,518.5,76.9,5.1
Goldfinger,Sean Connery,820.4,18.6,3.2
Licence to Kill,Timothy Dalton,250.9,56.7,7.9
Live and Let Die,Roger Moore,460.3,30.8,NaN
Moonraker,Roger Moore,535.0,91.5,NaN
Never Say Never Again,Sean Connery,380.0,86.0,NaN
Octopussy,Roger Moore,373.8,53.9,7.8
On Her Majesty's Secret Service,George Lazenby,291.5,37.3,0.6
Quantum of Solace,Daniel Craig,514.2,181.4,8.1
Skyfall,Daniel Craig,943.5,170.2,14.5
Spectre,Daniel Craig,726.7,206.3,NaN
The Living Daylights,Timothy Dalton,313.5,68.8,5.2
The Man with the Golden Gun,Roger Moore,334.0,27.7,NaN
The Spy Who Loved Me,Roger Moore,533.0,45.1,NaN
The World Is Not Enough,Pierce Brosnan,439.5,158.3,13.5
Thunderball,Sean Connery,848.1,41.9,4.7
Tomorrow Never Dies,Pierce Brosnan,463.2,133.9,10.0
You Only Live Twice,Sean Connery,514.2,59.9,4.4

In [228]:
# Deleting multiple column labels
bond.drop(labels = ["Actor", "Budget"], axis = "columns")

,Year,Director,Box Office,Bond Actor Salary
Film,,,,
A View to a Kill,1985,John Glen,275.2,9.1
Casino Royale,2006,Martin Campbell,581.5,3.3
Casino Royale,1967,Ken Hughes,315.0,NaN
Diamonds Are Forever,1971,Guy Hamilton,442.5,5.8
Die Another Day,2002,Lee Tamahori,465.4,17.9
Dr. No,1962,Terence Young,448.8,0.6
For Your Eyes Only,1981,John Glen,449.4,NaN
From Russia with Love,1963,Terence Young,543.8,1.6
GoldenEye,1995,Martin Campbell,518.5,5.1
Goldfinger,1964,Guy Hamilton,820.4,3.2
Licence to Kill,1989,John Glen,250.9,7.9
Live and Let Die,1973,Guy Hamilton,460.3,NaN
Moonraker,1979,Lewis Gilbert,535.0,NaN
Never Say Never Again,1983,Irvin Kershner,380.0,NaN
Octopussy,1983,John Glen,373.8,7.8
On Her Majesty's Secret Service,1969,Peter R. Hunt,291.5,0.6
Quantum of Solace,2008,Marc Forster,514.2,8.1
Skyfall,2012,Sam Mendes,943.5,14.5
Spectre,2015,Sam Mendes,726.7,NaN
The Living Daylights,1987,John Glen,313.5,5.2
The Man with the Golden Gun,1974,Guy Hamilton,334.0,NaN
The Spy Who Loved Me,1977,Lewis Gilbert,533.0,NaN
The World Is Not Enough,1999,Michael Apted,439.5,13.5
Thunderball,1965,Terence Young,848.1,4.7
Tomorrow Never Dies,1997,Roger Spottiswoode,463.2,10.0
You Only Live Twice,1967,Lewis Gilbert,514.2,4.4

In [229]:
# Remove a column from a DataFrame and assigns it to a variable as a series of values
director = bond.pop("Director")

In [230]:
director

Film
A View to a Kill                            John Glen
Casino Royale                         Martin Campbell
Casino Royale                              Ken Hughes
Diamonds Are Forever                     Guy Hamilton
Die Another Day                          Lee Tamahori
Dr. No                                  Terence Young
For Your Eyes Only                          John Glen
From Russia with Love                   Terence Young
GoldenEye                             Martin Campbell
Goldfinger                               Guy Hamilton
Licence to Kill                             John Glen
Live and Let Die                         Guy Hamilton
Moonraker                               Lewis Gilbert
Never Say Never Again                  Irvin Kershner
Octopussy                                   John Glen
On Her Majesty's Secret Service         Peter R. Hunt
Quantum of Solace                        Marc Forster
Skyfall                                    Sam Mendes
Spectre                                    Sam Mendes
The Living Daylights                        John Glen
The Man with the Golden Gun              Guy Hamilton
The Spy Who Loved Me                    Lewis Gilbert
The World Is Not Enough                 Michael Apted
Thunderball                             Terence Young
Tomorrow Never Dies                Roger Spottiswoode
You Only Live Twice                     Lewis Gilbert
Name: Director, dtype: object

In [231]:
bond

,Year,Actor,Box Office,Budget,Bond Actor Salary
Film,,,,,
A View to a Kill,1985,Roger Moore,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,581.5,145.3,3.3
Casino Royale,1967,David Niven,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,465.4,154.2,17.9
Dr. No,1962,Sean Connery,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,449.4,60.2,NaN
From Russia with Love,1963,Sean Connery,543.8,12.6,1.6
GoldenEye,1995,Pierce Brosnan,518.5,76.9,5.1
Goldfinger,1964,Sean Connery,820.4,18.6,3.2
Licence to Kill,1989,Timothy Dalton,250.9,56.7,7.9
Live and Let Die,1973,Roger Moore,460.3,30.8,NaN
Moonraker,1979,Roger Moore,535.0,91.5,NaN
Never Say Never Again,1983,Sean Connery,380.0,86.0,NaN
Octopussy,1983,Roger Moore,373.8,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,291.5,37.3,0.6
Quantum of Solace,2008,Daniel Craig,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,943.5,170.2,14.5
Spectre,2015,Daniel Craig,726.7,206.3,NaN
The Living Daylights,1987,Timothy Dalton,313.5,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,533.0,45.1,NaN
The World Is Not Enough,1999,Pierce Brosnan,439.5,158.3,13.5
Thunderball,1965,Sean Connery,848.1,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,463.2,133.9,10.0
You Only Live Twice,1967,Sean Connery,514.2,59.9,4.4

In [232]:
bond

,Year,Actor,Box Office,Budget,Bond Actor Salary
Film,,,,,
A View to a Kill,1985,Roger Moore,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,581.5,145.3,3.3
Casino Royale,1967,David Niven,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,465.4,154.2,17.9
Dr. No,1962,Sean Connery,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,449.4,60.2,NaN
From Russia with Love,1963,Sean Connery,543.8,12.6,1.6
GoldenEye,1995,Pierce Brosnan,518.5,76.9,5.1
Goldfinger,1964,Sean Connery,820.4,18.6,3.2
Licence to Kill,1989,Timothy Dalton,250.9,56.7,7.9
Live and Let Die,1973,Roger Moore,460.3,30.8,NaN
Moonraker,1979,Roger Moore,535.0,91.5,NaN
Never Say Never Again,1983,Sean Connery,380.0,86.0,NaN
Octopussy,1983,Roger Moore,373.8,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,291.5,37.3,0.6
Quantum of Solace,2008,Daniel Craig,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,943.5,170.2,14.5
Spectre,2015,Daniel Craig,726.7,206.3,NaN
The Living Daylights,1987,Timothy Dalton,313.5,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,533.0,45.1,NaN
The World Is Not Enough,1999,Pierce Brosnan,439.5,158.3,13.5
Thunderball,1965,Sean Connery,848.1,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,463.2,133.9,10.0
You Only Live Twice,1967,Sean Connery,514.2,59.9,4.4

In [233]:
# Delete the column "Actor"
del bond["Actor"]

In [235]:
bond.head(5)

                      Year  Box Office  Budget  Bond Actor Salary
Film
A View to a Kill      1985       275.2    54.5                9.1
Casino Royale         2006       581.5   145.3                3.3
Casino Royale         1967       315.0    85.0                NaN
Diamonds Are Forever  1971       442.5    34.7                5.8
Die Another Day       2002       465.4   154.2               17.9

## Create Random Sample from a DataFrame

In [236]:
# Load the DataFrame "jamesbond.csv" indexing by "Film"
bond = pd.read_csv("jamesbond.csv", index_col = "Film")
bond.sort_index(inplace = True)
bond.head(5)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9

In [237]:
# Sample 3 rows from bond DataFrame
bond.sample(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

In [239]:
# Sample 3 rows from bond DataFrame
bond.sample(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8

In [240]:
# Extract 25% random rows from bond DataFrame
bond.sample(frac = 0.25)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0

In [241]:
# Extract 25% random rows from bond DataFrame
bond.sample(frac = 0.25)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

In [242]:
# Extract 3 random columns from bond DataFrame
bond.sample(n = 3, axis = "columns") # or axis = 1

                                 Budget           Actor  Year
Film
A View to a Kill                   54.5     Roger Moore  1985
Casino Royale                     145.3    Daniel Craig  2006
Casino Royale                      85.0     David Niven  1967
Diamonds Are Forever               34.7    Sean Connery  1971
Die Another Day                   154.2  Pierce Brosnan  2002
Dr. No                              7.0    Sean Connery  1962
For Your Eyes Only                 60.2     Roger Moore  1981
From Russia with Love              12.6    Sean Connery  1963
GoldenEye                          76.9  Pierce Brosnan  1995
Goldfinger                         18.6    Sean Connery  1964
Licence to Kill                    56.7  Timothy Dalton  1989
Live and Let Die                   30.8     Roger Moore  1973
Moonraker                          91.5     Roger Moore  1979
Never Say Never Again              86.0    Sean Connery  1983
Octopussy                          53.9     Roger Moore  1983
On Her Majesty's Secret Service    37.3  George Lazenby  1969
Quantum of Solace                 181.4    Daniel Craig  2008
Skyfall                           170.2    Daniel Craig  2012
Spectre                           206.3    Daniel Craig  2015
The Living Daylights               68.8  Timothy Dalton  1987
The Man with the Golden Gun        27.7     Roger Moore  1974
The Spy Who Loved Me               45.1     Roger Moore  1977
The World Is Not Enough           158.3  Pierce Brosnan  1999
Thunderball                        41.9    Sean Connery  1965
Tomorrow Never Dies               133.9  Pierce Brosnan  1997
You Only Live Twice                59.9    Sean Connery  1967

In [243]:
# Extract 3 random columns from bond DataFrame
bond.sample(n = 3, axis = "columns") # or axis = 1

                                          Actor            Director  Year
Film
A View to a Kill                    Roger Moore           John Glen  1985
Casino Royale                      Daniel Craig     Martin Campbell  2006
Casino Royale                       David Niven          Ken Hughes  1967
Diamonds Are Forever               Sean Connery        Guy Hamilton  1971
Die Another Day                  Pierce Brosnan        Lee Tamahori  2002
Dr. No                             Sean Connery       Terence Young  1962
For Your Eyes Only                  Roger Moore           John Glen  1981
From Russia with Love              Sean Connery       Terence Young  1963
GoldenEye                        Pierce Brosnan     Martin Campbell  1995
Goldfinger                         Sean Connery        Guy Hamilton  1964
Licence to Kill                  Timothy Dalton           John Glen  1989
Live and Let Die                    Roger Moore        Guy Hamilton  1973
Moonraker                           Roger Moore       Lewis Gilbert  1979
Never Say Never Again              Sean Connery      Irvin Kershner  1983
Octopussy                           Roger Moore           John Glen  1983
On Her Majesty's Secret Service  George Lazenby       Peter R. Hunt  1969
Quantum of Solace                  Daniel Craig        Marc Forster  2008
Skyfall                            Daniel Craig          Sam Mendes  2012
Spectre                            Daniel Craig          Sam Mendes  2015
The Living Daylights             Timothy Dalton           John Glen  1987
The Man with the Golden Gun         Roger Moore        Guy Hamilton  1974
The Spy Who Loved Me                Roger Moore       Lewis Gilbert  1977
The World Is Not Enough          Pierce Brosnan       Michael Apted  1999
Thunderball                        Sean Connery       Terence Young  1965
Tomorrow Never Dies              Pierce Brosnan  Roger Spottiswoode  1997
You Only Live Twice                Sean Connery       Lewis Gilbert  1967

## Retrieving the Smallest or the Largest value from a DataFrame Column:  .nsmallest( ) and .nlargest( ) Methods

In [244]:
# Load the DataFrame "jamesbond.csv" indexing by "Film"
bond = pd.read_csv("jamesbond.csv", index_col = "Film")
bond.sort_index(inplace = True)
bond.head(5)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9

In [248]:
# Retrieving the rows with the 3 largest "Box Office"
bond.nlargest(n = 3, columns = "Box Office")

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

In [249]:
# Retrieving the rows with the 3 largest "Box Office"
bond["Box Office"].nlargest(3)

Film
Skyfall        943.5
Thunderball    848.1
Goldfinger     820.4
Name: Box Office, dtype: float64

In [247]:
# Retrieving the rows with the 3 smallest "Box Office"
bond.nsmallest(n = 3, columns = "Box Office")

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6

In [252]:
# Retrieving the rows with the 3 smallest "Box Office"
bond["Box Office"].nsmallest(3)

Film
Licence to Kill                    250.9
A View to a Kill                   275.2
On Her Majesty's Secret Service    291.5
Name: Box Office, dtype: float64

## Filtering Rows with the Where Method

In [251]:
# Load the DataFrame "jamesbond.csv" indexing by "Film"
bond = pd.read_csv("jamesbond.csv", index_col = "Film")
bond.sort_index(inplace = True)
bond.head(5)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9

In [254]:
bond["Actor"] == "Sean Connery"

Film
A View to a Kill                   False
Casino Royale                      False
Casino Royale                      False
Diamonds Are Forever                True
Die Another Day                    False
Dr. No                              True
For Your Eyes Only                 False
From Russia with Love               True
GoldenEye                          False
Goldfinger                          True
Licence to Kill                    False
Live and Let Die                   False
Moonraker                          False
Never Say Never Again               True
Octopussy                          False
On Her Majesty's Secret Service    False
Quantum of Solace                  False
Skyfall                            False
Spectre                            False
The Living Daylights               False
The Man with the Golden Gun        False
The Spy Who Loved Me               False
The World Is Not Enough            False
Thunderball                         True
Tomorrow Never Dies                False
You Only Live Twice                 True
Name: Actor, dtype: bool

In [255]:
mask1 = bond["Actor"] == "Sean Connery"

In [256]:
# Retrieve the rows with "Sean Connery" as Actor
bond[mask1]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [258]:
# Retrieve the rows with "Sean Connery" as Actor
bond.where(bond["Actor"] == "Sean Connery")

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,NaN,NaN,NaN,NaN,NaN,NaN
Casino Royale,NaN,NaN,NaN,NaN,NaN,NaN
Casino Royale,NaN,NaN,NaN,NaN,NaN,NaN
Diamonds Are Forever,1971.0,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,NaN,NaN,NaN,NaN,NaN,NaN
Dr. No,1962.0,Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,NaN,NaN,NaN,NaN,NaN,NaN
From Russia with Love,1963.0,Sean Connery,Terence Young,543.8,12.6,1.6
GoldenEye,NaN,NaN,NaN,NaN,NaN,NaN
Goldfinger,1964.0,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,NaN,NaN,NaN,NaN,NaN,NaN
Live and Let Die,NaN,NaN,NaN,NaN,NaN,NaN
Moonraker,NaN,NaN,NaN,NaN,NaN,NaN
Never Say Never Again,1983.0,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,NaN,NaN,NaN,NaN,NaN,NaN
On Her Majesty's Secret Service,NaN,NaN,NaN,NaN,NaN,NaN
Quantum of Solace,NaN,NaN,NaN,NaN,NaN,NaN
Skyfall,NaN,NaN,NaN,NaN,NaN,NaN
Spectre,NaN,NaN,NaN,NaN,NaN,NaN
The Living Daylights,NaN,NaN,NaN,NaN,NaN,NaN
The Man with the Golden Gun,NaN,NaN,NaN,NaN,NaN,NaN
The Spy Who Loved Me,NaN,NaN,NaN,NaN,NaN,NaN
The World Is Not Enough,NaN,NaN,NaN,NaN,NaN,NaN
Thunderball,1965.0,Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,NaN,NaN,NaN,NaN,NaN,NaN
You Only Live Twice,1967.0,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [261]:
# Retrieving rows with "Sean Connery" as Actor and Box Office greater than 800 (US$)
mask1 = bond["Actor"] == "Sean Connery"
mask2 = bond["Box Office"] > 800

bond.where(mask1 & mask2)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,NaN,NaN,NaN,NaN,NaN,NaN
Casino Royale,NaN,NaN,NaN,NaN,NaN,NaN
Casino Royale,NaN,NaN,NaN,NaN,NaN,NaN
Diamonds Are Forever,NaN,NaN,NaN,NaN,NaN,NaN
Die Another Day,NaN,NaN,NaN,NaN,NaN,NaN
Dr. No,NaN,NaN,NaN,NaN,NaN,NaN
For Your Eyes Only,NaN,NaN,NaN,NaN,NaN,NaN
From Russia with Love,NaN,NaN,NaN,NaN,NaN,NaN
GoldenEye,NaN,NaN,NaN,NaN,NaN,NaN
Goldfinger,1964.0,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,NaN,NaN,NaN,NaN,NaN,NaN
Live and Let Die,NaN,NaN,NaN,NaN,NaN,NaN
Moonraker,NaN,NaN,NaN,NaN,NaN,NaN
Never Say Never Again,NaN,NaN,NaN,NaN,NaN,NaN
Octopussy,NaN,NaN,NaN,NaN,NaN,NaN
On Her Majesty's Secret Service,NaN,NaN,NaN,NaN,NaN,NaN
Quantum of Solace,NaN,NaN,NaN,NaN,NaN,NaN
Skyfall,NaN,NaN,NaN,NaN,NaN,NaN
Spectre,NaN,NaN,NaN,NaN,NaN,NaN
The Living Daylights,NaN,NaN,NaN,NaN,NaN,NaN
The Man with the Golden Gun,NaN,NaN,NaN,NaN,NaN,NaN
The Spy Who Loved Me,NaN,NaN,NaN,NaN,NaN,NaN
The World Is Not Enough,NaN,NaN,NaN,NaN,NaN,NaN
Thunderball,1965.0,Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,NaN,NaN,NaN,NaN,NaN,NaN
You Only Live Twice,NaN,NaN,NaN,NaN,NaN,NaN

In [262]:
# Retrieving rows with "Sean Connery" as Actor and Box Office greater than 800 (US$)
bond[mask1 & mask2]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7

## Retrieving Rows with the Query Method

In [263]:
# Load the DataFrame "jamesbond.csv" indexing by "Film"
bond = pd.read_csv("jamesbond.csv", index_col = "Film")
bond.sort_index(inplace = True)
bond.head(5)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9

In [270]:
# Replacing " " by "_" for the method query work
bond.columns = [column_name.replace(" ", "_") for column_name in bond.columns]

In [271]:
bond.head(1)

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1

In [272]:
# Retrieve rows with "Sean Connery" as Actor
bond.query('Actor == "Sean Connery"')

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,,
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [273]:
# Retrieve rows for which "Sean Connery" was not the JB Actor
bond.query("Actor != 'Sean Connery'")

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0

In [276]:
# Retrieve rows with "Pierce Brosnan" as JB Actor and "Michael Apted" as Director
bond.query("Actor == 'Pierce Brosnan' and Director == 'Michael Apted'")

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,,
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5

In [280]:
# Retrieve rows with "Pierce Brosnan" or "Daniel Craig" as JB Actors
bond.query("Actor in ['Pierce Brosnan', 'Daniel Craig']")

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,,
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0

In [281]:
# Retrieve rows for which "Pierce Brosnan" and "Daniel Craig" are not JB Actors
bond.query("Actor not in ['Pierce Brosnan', 'Daniel Craig']")

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

## Review of .apply() Method on Single Columns

In [282]:
# Load the DataFrame "jamesbond.csv" indexing by "Film"
bond = pd.read_csv("jamesbond.csv", index_col = "Film")
bond.sort_index(inplace = True)
bond.head(5)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9

In [287]:
# Function to convert float to string and add a string "Millions!"
def convert_to_string_and_add_millions(number):
    return str(number) + " MILLIONS!"

In [288]:

bond["Box Office"].apply(convert_to_string_and_add_millions)

Film
A View to a Kill                   275.2 MILLIONS!
Casino Royale                      581.5 MILLIONS!
Casino Royale                      315.0 MILLIONS!
Diamonds Are Forever               442.5 MILLIONS!
Die Another Day                    465.4 MILLIONS!
Dr. No                             448.8 MILLIONS!
For Your Eyes Only                 449.4 MILLIONS!
From Russia with Love              543.8 MILLIONS!
GoldenEye                          518.5 MILLIONS!
Goldfinger                         820.4 MILLIONS!
Licence to Kill                    250.9 MILLIONS!
Live and Let Die                   460.3 MILLIONS!
Moonraker                          535.0 MILLIONS!
Never Say Never Again              380.0 MILLIONS!
Octopussy                          373.8 MILLIONS!
On Her Majesty's Secret Service    291.5 MILLIONS!
Quantum of Solace                  514.2 MILLIONS!
Skyfall                            943.5 MILLIONS!
Spectre                            726.7 MILLIONS!
The Living Daylights               313.5 MILLIONS!
The Man with the Golden Gun        334.0 MILLIONS!
The Spy Who Loved Me               533.0 MILLIONS!
The World Is Not Enough            439.5 MILLIONS!
Thunderball                        848.1 MILLIONS!
Tomorrow Never Dies                463.2 MILLIONS!
You Only Live Twice                514.2 MILLIONS!
Name: Box Office, dtype: object

In [289]:
bond["Budget"].apply(convert_to_string_and_add_millions)

Film
A View to a Kill                    54.5 MILLIONS!
Casino Royale                      145.3 MILLIONS!
Casino Royale                       85.0 MILLIONS!
Diamonds Are Forever                34.7 MILLIONS!
Die Another Day                    154.2 MILLIONS!
Dr. No                               7.0 MILLIONS!
For Your Eyes Only                  60.2 MILLIONS!
From Russia with Love               12.6 MILLIONS!
GoldenEye                           76.9 MILLIONS!
Goldfinger                          18.6 MILLIONS!
Licence to Kill                     56.7 MILLIONS!
Live and Let Die                    30.8 MILLIONS!
Moonraker                           91.5 MILLIONS!
Never Say Never Again               86.0 MILLIONS!
Octopussy                           53.9 MILLIONS!
On Her Majesty's Secret Service     37.3 MILLIONS!
Quantum of Solace                  181.4 MILLIONS!
Skyfall                            170.2 MILLIONS!
Spectre                            206.3 MILLIONS!
The Living Daylights                68.8 MILLIONS!
The Man with the Golden Gun         27.7 MILLIONS!
The Spy Who Loved Me                45.1 MILLIONS!
The World Is Not Enough            158.3 MILLIONS!
Thunderball                         41.9 MILLIONS!
Tomorrow Never Dies                133.9 MILLIONS!
You Only Live Twice                 59.9 MILLIONS!
Name: Budget, dtype: object

In [295]:
# Load the DataFrame "jamesbond.csv" indexing by "Film"
bond = pd.read_csv("jamesbond.csv", index_col = "Film")
bond.sort_index(inplace = True)
bond.head(5)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9

In [296]:
# Function to convert float to string and add a string "Millions!"
def convert_to_string_and_add_millions(number):
    return str(number) + " MILLIONS!"

In [297]:
# Convert float to string and add "MILLIONS!" for the especified columns
columns = ["Box Office", "Budget", "Bond Actor Salary"]
for col in columns:
    bond[col] = bond[col].apply(convert_to_string_and_add_millions)

In [298]:
bond

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2 MILLIONS!,54.5 MILLIONS!,9.1 MILLIONS!
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5 MILLIONS!,145.3 MILLIONS!,3.3 MILLIONS!
Casino Royale,1967,David Niven,Ken Hughes,315.0 MILLIONS!,85.0 MILLIONS!,nan MILLIONS!
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5 MILLIONS!,34.7 MILLIONS!,5.8 MILLIONS!
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4 MILLIONS!,154.2 MILLIONS!,17.9 MILLIONS!
Dr. No,1962,Sean Connery,Terence Young,448.8 MILLIONS!,7.0 MILLIONS!,0.6 MILLIONS!
For Your Eyes Only,1981,Roger Moore,John Glen,449.4 MILLIONS!,60.2 MILLIONS!,nan MILLIONS!
From Russia with Love,1963,Sean Connery,Terence Young,543.8 MILLIONS!,12.6 MILLIONS!,1.6 MILLIONS!
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5 MILLIONS!,76.9 MILLIONS!,5.1 MILLIONS!
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4 MILLIONS!,18.6 MILLIONS!,3.2 MILLIONS!
Licence to Kill,1989,Timothy Dalton,John Glen,250.9 MILLIONS!,56.7 MILLIONS!,7.9 MILLIONS!
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3 MILLIONS!,30.8 MILLIONS!,nan MILLIONS!
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0 MILLIONS!,91.5 MILLIONS!,nan MILLIONS!
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0 MILLIONS!,86.0 MILLIONS!,nan MILLIONS!
Octopussy,1983,Roger Moore,John Glen,373.8 MILLIONS!,53.9 MILLIONS!,7.8 MILLIONS!
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5 MILLIONS!,37.3 MILLIONS!,0.6 MILLIONS!
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2 MILLIONS!,181.4 MILLIONS!,8.1 MILLIONS!
Skyfall,2012,Daniel Craig,Sam Mendes,943.5 MILLIONS!,170.2 MILLIONS!,14.5 MILLIONS!
Spectre,2015,Daniel Craig,Sam Mendes,726.7 MILLIONS!,206.3 MILLIONS!,nan MILLIONS!
The Living Daylights,1987,Timothy Dalton,John Glen,313.5 MILLIONS!,68.8 MILLIONS!,5.2 MILLIONS!
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0 MILLIONS!,27.7 MILLIONS!,nan MILLIONS!
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0 MILLIONS!,45.1 MILLIONS!,nan MILLIONS!
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5 MILLIONS!,158.3 MILLIONS!,13.5 MILLIONS!
Thunderball,1965,Sean Connery,Terence Young,848.1 MILLIONS!,41.9 MILLIONS!,4.7 MILLIONS!
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2 MILLIONS!,133.9 MILLIONS!,10.0 MILLIONS!
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2 MILLIONS!,59.9 MILLIONS!,4.4 MILLIONS!

## The .apply() Method with DataFrame Row Values

In [299]:
# Load the DataFrame "jamesbond.csv" indexing by "Film"
bond = pd.read_csv("jamesbond.csv", index_col = "Film")
bond.sort_index(inplace = True)
bond.head(5)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9

In [300]:
# Function to classify the films
# This is a silly example! It does not reflect my opinnion
def classify_movie(row):
    actor = row[1]
    box_office = row[3]
    
    if actor == "Pierce Brosnan":
        return "The Best"
    elif actor == "Daniel Craig" and box_office > 500:
        return "Enjoyable"
    else:
        return "I have no clue"

In [302]:
bond.apply(classify_movie, axis = "columns") # will navigate through all columns for each row

Film
A View to a Kill                   I have no clue
Casino Royale                           Enjoyable
Casino Royale                      I have no clue
Diamonds Are Forever               I have no clue
Die Another Day                          The Best
Dr. No                             I have no clue
For Your Eyes Only                 I have no clue
From Russia with Love              I have no clue
GoldenEye                                The Best
Goldfinger                         I have no clue
Licence to Kill                    I have no clue
Live and Let Die                   I have no clue
Moonraker                          I have no clue
Never Say Never Again              I have no clue
Octopussy                          I have no clue
On Her Majesty's Secret Service    I have no clue
Quantum of Solace                       Enjoyable
Skyfall                                 Enjoyable
Spectre                                 Enjoyable
The Living Daylights               I have no clue
The Man with the Golden Gun        I have no clue
The Spy Who Loved Me               I have no clue
The World Is Not Enough                  The Best
Thunderball                        I have no clue
Tomorrow Never Dies                      The Best
You Only Live Twice                I have no clue
dtype: object

## The .copy() Method

In [303]:
# Load the DataFrame "jamesbond.csv" indexing by "Film"
bond = pd.read_csv("jamesbond.csv", index_col = "Film")
bond.sort_index(inplace = True)
bond.head(5)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9

In [306]:
# Makes a copy of Director column in order not to affect the bond DataFrame with
# changing the Director name for the film "A View to a Kill"
directors = bond["Director"].copy()
directors["A View to a Kill"] = "Mister John Glen"
directors.head(3)

Film
A View to a Kill    Mister John Glen
Casino Royale        Martin Campbell
Casino Royale             Ken Hughes
Name: Director, dtype: object

In [307]:
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN